.cupboard {
  width: 10rem;
  min-width: 160px;
  height: 100%;
  margin-left: 2rem;
  margin-right: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: end;

  .cupboard-upper1 {
    display: flex;
    width: 100%;
    height: 23%;
    .cupboard-upper1-left {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 60%;
      height: 100%;
      background-color: dodgerblue;
      .cupboard-upper1-door {
        width: 25%;
        height: 75%;
        background-color: var(--dark-blue);
      }
    }
    .cupboard-upper1-right {
      width: 30%;
      height: 100%;
      background-color: grey;
    }
  }

  .cupboard-upper2 {
    display: flex;
    justify-content: end;
    align-items: start;
    .cupboard-upper2-right {
      width: 30%;
      border-bottom: 1rem solid grey;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
    }
  }
  .cupboard-middle {
    width: 100%;
    height: 10%;
    background-color: transparent;
    .microwave {
      width: 2.5rem;
      height: 100%;
      margin-left: 0.25rem;
      background-color: white;
      display: flex;
      align-items: center;
      .microwave-detail {
        width: 1.125rem;
        height: 1.125rem;
        background-color: grey;
        margin-left: 0.25rem;
      }
    }
  }
  .cupboard-bottom {
    width: 100%;
    height: 25%;
    background-color: dodgerblue;
    .cupboard-bottom-surface {
      width: 100%;
      height: 15%;
      background-color: var(--dark-brown);
    }
    .cupboard-bottom-wrapper {
      width: 100%;
      height: 85%;
      display: flex;

      .cupboard-bottom-drawer-wrapper {
        width: 50%;
        height: 100%;
        border-right: 0.125rem solid navy;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .cupboard-bottom-drawers {
          width: 80%;
          height: 30%;
          background-color: var(--dark-blue);
        }
      }
    }
    .cupboard-bottom-oven-wrapper {
      display: flex;
      justify-content: column;
      width: 50%;
      height: 100%;
      .cupboard-bottom-oven-button-wrapper {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-evenly;
        padding: 0.5rem 0;
        .cupboard-bottom-oven-buttons {
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          background-color: navy;
        }
      }
    }
  }
}

.freeze {
  width: 4.5rem;
  height: 10.5rem;
  background-color: white;
  border-radius: 5%;
  margin-right: 0.25rem;

  .freeze-upper {
    width: 100%;
    height: 68%;
    display: flex;
    align-items: end;
    .freeze-upper-handle {
      width: 0.45rem;
      height: 2rem;
      background-color: grey;
      margin-left: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }
  .freeze-shadow {
    width: 100%;
    height: 2%;
    background-color: grey;
  }
  .freeze-bottom {
    display: flex;
    align-items: start;
    .freeze-bottom-handle {
      width: 0.45rem;
      height: 1.25rem;
      background-color: grey;
      margin-left: 0.25rem;
      margin-top: 0.25rem;
    }
  }
}

.dining-table-wrapper {
  display: flex;
  flex-direction: column;
  width: 8rem;
  height: 3.5rem;
  position: relative;
  .dining-table {
    .dining-table-top {
      width: 100%;
      height: 0.875rem;
      background-color: var(--dark-brown);
    }
    .dining-table-leg-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 2.625rem;
      .dining-table-legs {
        width: 0.6rem;
        height: 100%;
        background-color: var(--dark-brown);
        margin: 0 0.5rem;
      }
    }
  }

  .dining-chair1 {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dining-chair2 {
    position: absolute;
    bottom: 0;
    left: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dining-chair-top {
    width: 1.875rem;
    height: 2.5rem;
    background-color: var(--dark-blue);
    border-radius: 50%;
  }
  .dining-chair-seat {
    width: 1.875rem;
    height: 0.5rem;
    background-color: var(--dark-blue);
    border-radius: 15%;
  }
  .dining-chair-leg-container {
    display: flex;
    justify-content: space-between;
    width: 1.5rem;
    height: 1.75rem;

    .dining-chair-legs {
      width: 0.5rem;
      height: 100%;
      background-color: var(--dark-brown);
    }
  }
}
